<div class="row">
    <div class="offset-3 col-6">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Type your email address" aria-describedby="emailHelp"formControlName="email">
          <div class="invalid-feedback d-block"
                    *ngIf="submitted && loginForm.controls.email.hasError('required')">
                    email is required.
                </div>
                <div class="invalid-feedback d-block"
                *ngIf="submitted && loginForm.controls.email.hasError('email')">
             Email is invalid format.
            </div>
                
                
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control"placeholder="Type your passoword"  id="exampleInputPassword1"formControlName="Password">
          <div class="invalid-feedback d-block"
          *ngIf="submitted && loginForm.controls.Password.hasError('required')">
          Password is required.
      </div>
      <div class="invalid-feedback d-block"
                *ngIf="submitted && loginForm.controls.Password.hasError('minlength')">
                passoword is required minimum 8 char.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">login</button>
      </form> 
   </div>
</div>