<div class="row">
    <div class="offset-3 col-6">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
                <label for="UserName">User name</label>
                <input type="text" class="form-control" id="UserName" placeholder="Type your User Name here"
                    formControlName="UserName"
                    [ngClass]="{'is-invalid': submitted && registerForm.controls.UserName.errors, 'is-valid': submitted && !registerForm.controls.UserName.errors}">
                <div class="invalid-feedback d-block"
                    *ngIf="submitted && registerForm.controls.UserName.hasError('required')">
                    The User name is required.
                </div>
            </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Type your email address "
                        formControlName="email"
                        [ngClass]="{'is-invalid': submitted && registerForm.controls.email.errors, 'is-valid': submitted && !registerForm.controls.email.errors}">
                    <div class="invalid-feedback d-block"
                        *ngIf="submitted && registerForm.controls.email.hasError('required')">
                        Email is required.
                    </div>
                    <div class="invalid-feedback d-block"
                        *ngIf="submitted && registerForm.controls.email.hasError('email')">
                        Email is invalid format.
                    </div>
                </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Type your Password"
                            formControlName="Password"
                            [ngClass]="{'is-invalid': submitted && registerForm.controls.Password.errors, 'is-valid': submitted && !registerForm.controls.Password.errors}">
                        <div class="invalid-feedback d-block"
                            *ngIf="submitted && registerForm.controls.Password.hasError('required')">
                            passoword is required.
                        </div>
                        <div class="invalid-feedback d-block"
                            *ngIf="submitted && registerForm.controls.Password.hasError('minlength')">
                            passoword is required minimum 8 char.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation"> Password Confirmation</label>
                        <input type="password" class="form-control" id="passwordConfirmation"
                            placeholder="Retype your passoword" formControlName="PasswordConfirmation"
                            [ngClass]="{'is-invalid': submitted && registerForm.controls.PasswordConfirmation.errors, 'is-valid': submitted && !registerForm.controls.PasswordConfirmation.errors}">
                        <div class="invalid-feedback d-block"
                            *ngIf="submitted && registerForm.controls.PasswordConfirmation.hasError('required')">
                            Password Confirmation is required.
                        </div>
                        <div class="invalid-feedback d-block"
                            *ngIf="submitted && registerForm.controls.PasswordConfirmation.hasError('minlength')">
                            Password Confirmation required minimum 8 char.
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
</div>